<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>박플레이어 랭킹페이지</title>
</head>
<body>
<!-- 헤더시작 -->
<header>
    <div class="logo">
        <a href="#">logo</a>
    </div>
    <div class="movie">
        <a href="#">movie</a>
    </div>
    <div class="search">
        <input type="text">
    </div>
    <div class="center">
        <a href="#">고객</a>
    </div>
    <div class="member">
        <a href="#">회원가입</a>
    </div>
    <div class="login">
        <a href="#">로그인</a>
    </div>
</header>
<!-- 랭킹시작 -->
<div>
    <div>
        <h2>랭킹</h2>
    </div>
    <div>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <!-- //텝 넣어야함 (*나중에 기억*) -->
    </div>
</div>

<!-- 추천 -->
<div>
    <div>
        <h2>추천</h2>
    </div>
    <div>
        <ul>
            <li>
                <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
            </li>
        </ul>
    </div>
</div>

<!-- 시간대별 영화추천 -->
<div>
    <ul>
        <li>
            <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://placehold.co/300x300" alt=""></a>
        </li>
    </ul>
</div>

<!-- 푸터시작 -->
<footer>
    <div>나중에 제작</div>
</footer>
</body>
</html>