<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .welcome-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .welcome-container h2 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<header>
    <div class="logo">
        <a href="#">logo</a>
    </div>
    <div class="movie">
        <a href="#">movie</a>
    </div>
    <div class="search">
        <input type="text">
    </div>
    <div class="center">
        <a th:href="@{/adminPostview}">고객</a>
    </div>
    <div class="member">
        <a href="#">회원가입</a>
    </div>
    <div class="login">
        <a href="#">로그인</a>
    </div>
</header>
<div class="welcome-container">
    <h2 th:text="${message}"></h2>
</div>
</body>
</html>